<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Update Patient</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/note/update/{id}(id=${note.id})}" th:object="${note}" method="post" class="form-horizontal" style="width: 100%">

            <input type="hidden" th:field="*{patientId}" id="patientId">
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">date</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{date}" id="date" placeholder="date" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{note}" id="note" placeholder="note" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" th:href="@{/note/list/{id}(id=*{patientId})}">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Update Patient">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>