<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Patient</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: rgba(0,98,74,0.84) ">
    <a class="navbar-brand" href="/"> Mediscreen </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    </div>
</nav>
<body style="background-image: url('https://cdn.pixabay.com/photo/2016/12/05/19/49/syringe-1884784_960_720.jpg');
 background-repeat: no-repeat; background-size: cover;">
<div class=" box-shadow mx-auto " style="width: 80%; height: auto; border-radius: 21px 21px 21px 21px; color: rgba(0,98,74,0.84); margin-top: 100px;"  >
<div class="container">

    <div class="row">
        <h2 style="font-size: 80px">Add New User</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/patient/validate}" th:object="${patientRequest}" method="post" class="form-horizontal" style="width: 100%; margin-left: 20px">
            <div class="form-group">
                <label for="lastName" class="col-xl-8 control-label"  style="font-size: 25px; font-weight: bold ">Lastname</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label" style="font-size: 25px; font-weight: bold ">FirstName</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="birthDate" class="col-sm-2 control-label" style="font-size: 25px; font-weight: bold ">birthDate</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{birthDate}" id="birthDate" placeholder="birthDate" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label" style="font-size: 25px; font-weight: bold ">Sex</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{sex}" id="sex" placeholder="sex" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label" style="font-size: 25px; font-weight: bold ">address</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{address}" id="address" placeholder="address" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="col-sm-2 control-label" style="font-size: 25px; font-weight: bold ">phoneNumber</label>
                <div class="col-sm-10">
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-lg" href="/patient/list">Cancel</a>
                    <input class="btn btn-primary btn-lg  font-weight-bold " style="background-color: rgba(0,98,74,0.84)" type="submit" value="Add Patient" >
                </div>
            </div>

        </form>
    </div>
</div>
</div>
</body>
</html>