<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <title>PatientList</title>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">PatientList</a>&nbsp;|&nbsp;

        </div>

    </div>
    </br></br>
    <form th:action="@{/patient/list}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />


    </form>
    </br></br>
    <div class="row"><h2>Patient List</h2></div>
    <div class="row">
        <a href="/patient/add" class="btn btn-primary btn-lg bg-info font-weight-bold">Add New Patient</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Date of birth</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
                <th> Action </th>
                <th> Patient Note </th>
                <th> Evaluate Diabetes Risk </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td style="width: 10%" th:text="${patient.id}"></td>
                <td th:text="${patient.lastName}"></td>
                <td th:text="${patient.firstName}"></td>
                <td style="width: 25%" th:text="${patient.birthDate}"></td>
                <td style="width: 25%" th:text="${patient.sex}"></td>
                <td style="width: 25%" th:text="${patient.address}"></td>
                <td style="width: 25%" th:text="${patient.phoneNumber}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-primary bg-warning btn-sm mr-2 mb-2 font-weight-bold text-dark btn btn-outline-light" style="margin-bottom: 10px">Edit </a>&nbsp;

                    <a th:href="@{/patient/delete/{id}(id=${patient.id})}"class="btn btn-primary btn-sm bg-danger mr-2 mb-2 font-weight-bold"> Delete </a>
                </td>
                <td>
                    <a th:href="@{/note/list/{id}(id=${patient.id})}" class="btn btn-primary btn-sm bg-primary font-weight-bold"> Display Notes </a>
                </td>
                <td>
                    <a th:href="@{/riskLevel/{id}(id=${patient.id})}" class="btn btn-primary btn-sm bg-primary font-weight-bold"> Evaluate Diabetes Risk </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/patient/list}]]";
    }

</script>
</html>